<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class='d-flex justify-content-between align-items-center px-2 py-2 bg-blue'>
    <a href="<%= url_for(:back) %>">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left text-white" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    </a>
    <h3 class="my-0 text-white">REGISTER</h3>
    <%= f.submit "Next", class: "text-white border-0 bg-blue"%>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="d-flex flex-column mt-4 bg-white ps-2">
    <div class="py-3">

    </div>
    <%= f.text_field :name ,class: "form-control border-0 border-top py-3", placeholder: "Full name" %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border-0 border-top border-bottom py-3", placeholder: "Email" %>

    <% if @minimum_password_length %>
    <em class="mt-3 ps-2">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control border-0 border-top mt-0 py-3", placeholder: "Password" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "form-control border-0 border-top py-3", placeholder: "Confirm password" %>
  </div>
<% end %>
