<div class="min-vh-100">
  <%= render "layouts/navbar", header: "Categories", right_nav: "categories/index" %>
  <div class="mt-3">
    <% @categories.each do |category| %>
      <div class="card d-flex flex-row justify-content-between mx-2 py-3 px-2 align-items-center">
        <div class="d-flex flex-row justify-content-between px-2 gap-3 align-items-center">
          <img class="icon-image" src=<%= category.icon %> alt="Icon">  
          <h3><%= link_to category.name, category_deals_path(category) %></h3>
        </div>
        <div class="float-end text-dark">
          <h3>$<%= category.total_amount %></h3>
        </div>
      </div>
      <div>
    <% end %>
  </div>
  <div class="position-absolute bottom-0 vw-100">
  <%= link_to 'Add a new Category', new_category_path, class: 'btn btn-success py-5 w-100' %>
</div>
</div>
